<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{title}}
            </h1>
            <h2 class="subtitle">
                {{subtitle}}
            </h2>
        </div>
    </div>
</section>
<section class="section has-text-centered">
    <app-identity [identity]="identity"></app-identity>
    <br />
    <button class="button is-success" [disabled]="identitiesGenerated >= identitiesAllowed" (click)="newIdentity()">Make Another</button>
    <div class="columns" *ngIf="identitiesGenerated >= identitiesAllowed">
        <div class="column is-half is-offset-one-quarter">
            <p class="notification is-warning" id="warning">That's probably enough for now</p>
        </div>
    </div>
</section>