<div class="container is-fullwidth has-text-centered" *ngIf="identity">
    <h3 class="subtitle is-3">{{identity.name.title}} {{identity.name.first}} {{identity.name.last}}</h3>
    <img src="{{identity.picture.medium}}" />
    <p>Gender: {{identity.gender}}</p>
    <p> </p>
    <p>{{identity.email}}</p>
    <p>P: {{identity.cell}}</p>
    <p>DOB: {{identity.dob}}</p>
    <p>{{identity.location.street}} {{identity.location.city}} {{identity.location.state}} {{identity.location.postcode}}</p>
</div>